<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEART CLOUD</title>
    <script th:src="@{/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.css}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" th:inline="javascript">
        $(function () {

            var cloudUser = [[${cloudUser}]];
            console.log(cloudUser);

            initDirsTable();
        });
    </script>
    <style>
        body {
            padding-top: 70px;
        }

        .navbar-default {
            border-radius: 0;
        }

        .features-btn button {
            margin-right: 10px;
        }

        .content-container {
            margin: 0;
            padding: 0;
        }

        table td .glyphicon {
            margin: 0 15px 0 15px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onclick="reloadPage();">
                <img th:src="@{/img/logo.png}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">网盘 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">图片</a></li>
                        <li><a href="#">文档</a></li>
                        <li><a href="#">视频</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="#">种子</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="#">音乐</a></li>
                        <li><a href="#">其它</a></li>
                    </ul>
                </li>
                <!--<li><a href="#">上传</a></li>-->
                <!--<li><a href="#">下载</a></li>-->
            </ul>
            <form class="navbar-form navbar-left" disabled="true">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchAllFileInput" placeholder="Search File.."
                           style="border-radius: 24px">
                </div>
                <a class="btn btn-default" style="border-radius: 24px" onclick="searchAllFile()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${cloudUser!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span th:text="${cloudUser.userName}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">帮助中心</a></li>
                        <li><a href="#">Something else</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}">退出登录</a></li>
                    </ul>
                </li>
                <li><a href="#">会员中心</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="pageContainer">
    <nav class="navbar navbar-default" style="margin-bottom: 0">
        <div class="container-fluid features-btn">
            <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal"
                    data-target="#uploadNewFileModal"
                    onclick="showUploadInput()">上传
            </button>
            <button type="button" class="btn btn-primary navbar-btn" onclick="">下载</button>
            <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal"
                    data-target="#createNewDirModal">
                新建文件夹
            </button>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="content-container">
        <ol class="breadcrumb" style="float: right">
            <li>
                <span>已全部加载，共<span id="currentItemCount">0</span>个</span>
                <span id="currentDirId" hidden="hidden">0</span>
                <span id="currentDirName" hidden="hidden">0</span>
            </li>
        </ol>
        <ol class="breadcrumb" id="dirNavBar" style="margin-bottom: 0">
            <li><a href="javascript:void(0)" onclick="initDirsTable()">HOME</a></li>
            <!--<li><a href="#">Library</a></li>-->
            <!--<li class="active">Data</li>-->
        </ol>
        <table class="table table-hover">
            <thead>
            <tr>
                <th> 文件名</th>
                <th>大小</th>
                <th>修改日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="glyphicon glyphicon-folder-open"></span> 已购资源</td>
                <td> -</td>
                <td> -</td>
                <td> -</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-folder-open"></span> 我的卡包</td>
                <td> -</td>
                <td> -</td>
                <td> -</td>
            </tr>
            </tbody>
        </table>
        <div style="display: none;">
            <form id="fileDownloadForm" action="/cloudfile/download" method="post"
                  enctype="application/x-www-form-urlencoded">
                <label for="downloadFileId"></label><input id="downloadFileId" name="cloudFileId">
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<!--新建文件夹弹窗-->
<div class="modal fade" id="createNewDirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">新建文件夹</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="newDirInput" class="col-sm-2 control-label">新文件夹</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="newDirInput" placeholder="请输入文件夹名"
                                   autocomplete="off">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="createNewDir()">保存</button>
            </div>
        </div>
    </div>
</div>

<!--修改文件夹弹窗-->
<div class="modal fade" id="editDirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel3">重命名文件夹</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="editDirInput" class="col-sm-2 control-label"></label>
                        <label for="editDirId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="editDirInput" placeholder="请输入文件夹名"
                                   autocomplete="off">
                            <input type="hidden" id="editDirId">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="editDirNameSubmit()">保存</button>
            </div>
        </div>
    </div>
</div>

<!--修改文件弹窗-->
<div class="modal fade" id="editFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4">重命名文件</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="editFileInput" class="col-sm-2 control-label"></label>
                        <label for="editFileId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="editFileInput" placeholder="请输入文件名"
                                   autocomplete="off">
                            <input type="hidden" id="editFileId">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="editFileNameSubmit()">保存</button>
            </div>
        </div>
    </div>
</div>

<!--删除文件夹确认/取消弹窗-->
<div class="modal fade" id="confirmRemoveDirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <!--<h4 class="modal-title" id="myModalLabel4">新建文件夹</h4>-->
            </div>
            <div class="modal-body" style="text-align: center">
                <span>确认删除该文件夹？</span>
                <input type="hidden" id="removeDirId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="removeDirSubmit()">删除</button>
            </div>
        </div>
    </div>
</div>

<!--删除文件夹确认/取消弹窗-->
<div class="modal fade" id="confirmRemoveFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <!--<h4 class="modal-title" id="myModalLabel4">新建文件夹</h4>-->
            </div>
            <div class="modal-body" style="text-align: center">
                <span>确认删除该文件？</span>
                <input type="hidden" id="removeFileId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="removeFileSubmit()">删除</button>
            </div>
        </div>
    </div>
</div>

<!--上传文件弹窗-->
<div class="modal fade" id="uploadNewFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">上传文件</h4>
            </div>
            <div class="modal-body" id="fileUploadContent" style="display: block;">
                <form id="fileUploadForm" action="/cloudfile/upload" method="POST" enctype="multipart/form-data">
                    <input id="multipartFiles" name="multipartFiles" type="file" multiple>
                    <label for="uploadTargetDirId"></label>
                    <input type="text" id="uploadTargetDirId" name="cloudDirId" hidden="hidden">
                </form>
            </div>
            <div class="modal-body" id="fileUploadProgress" style="display: none;">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="uploadNewFile()">上传</button>
            </div>
        </div>
    </div>
</div>

<!--操作成功/失败提示弹窗-->
<div class="modal fade" id="tipsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <!--<h4 class="modal-title">Modal title</h4>-->
            </div>
            <div class="modal-body" style="text-align: center">
                <span id="tipsContent"></span>
                <br>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" th:inline="javascript">

    //初始化页面内容
    function initDirsTable() {
        getDirChilds(0, 'HOME');
    }

    //刷新页面
    function reloadPage() {
        window.location.reload();
    }

    //全局文件搜索
    function searchAllFile() {
        var searchAllFileByName = $("#searchAllFileInput").val();
        $.ajax({
            type: "GET",
            url: "/cloudfile/search",
            data: {
                "searchFileName": searchAllFileByName,
            },
            contentType: "application/x-www-form-urlencoded;chartset=utf-8",
            success: function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    var cloudFiles = result.data;

                    var $table = $("table tbody");
                    var innerHtml = "";
                    if (cloudFiles.length == 0) {
                        innerHtml = "<tr style='text-align: center'><td colspan='4'>空空如也</td></tr>";
                    } else {
                        for (var j = 0; j < cloudFiles.length; j++) {
                            var cloudFile = cloudFiles[j];
                            var cloudFileUrl = cloudFile.cloudFileUrl.replace("E:\\HEARTCLOUD\\", "");
                            innerHtml += "<tr><td><span class='glyphicon glyphicon-file'></span> "
                                + "<a href='/image/" + cloudFileUrl + "' target='_blank'>"
                                + cloudFile.cloudFileName + "</a></td><td>"
                                + cloudFile.cloudFileSize + "</td><td>"
                                + dateFormater(new Date(cloudFile.cloudFileUpdateDate)) + "</td><td>"
                                + "<button type='button' class='btn btn-default' aria-label='Edit' onclick='editFileName(" + cloudFile.cloudFileId + ")'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button>"
                                + "<button type='button' class='btn btn-default' aria-label='Remove' onclick='removeFile(" + cloudFile.cloudFileId + ")'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>"
                                + "<button type='button' class='btn btn-default' aria-label='Download' onclick='downloadFile(" + cloudFile.cloudFileId + ")'><span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span></button>"
                                + "</td></tr>"
                        }
                    }
                    $table.html(innerHtml);
                    $("#currentItemCount").text(cloudFiles.length);
                    navBarItems.splice(0, navBarItems.length);
                    navBarItems.push("0_HOME");
                    var navBarItemsHtmls = "<li class='active'><a onclick='returnIndexPage()'>返回</a></li><li><span>文件搜索：\"" + searchAllFileByName + "\"</span></li>";
                    $("#dirNavBar").html(navBarItemsHtmls);
                }
            }
        });
    }

    function returnIndexPage() {
        var navBarItemsHtmls = "";
        for (var i = 0; i < navBarItems.length; i++) {
            var navBarItem = navBarItems[i];
            var dirId = navBarItem.split("_")[0];
            var dirName = navBarItem.split("_")[1];
            console.log("拼接导航条 dirId=" + dirId + "  dirName=" + dirName);
            navBarItemsHtmls += "<li class='active'><a id='" + dirId + "' onclick='getDirChilds(" + dirId + ",\"" + dirName + "\")'>" + dirName + "</a></li>";
        }
        $("#dirNavBar").html(navBarItemsHtmls);
        $("#searchAllFileInput").val('');
        initDirsTable();
    }

    //查询当前文件夹下所有文件夹和文件
    var navBarItems = [];
    navBarItems.push("0_HOME");

    function getDirChilds(cloudDirId, cloudDirName) {
        var currentCloudDirId = $("#currentDirId").text();
        $("#currentDirId").text(cloudDirId);
        $("#currentDirName").text(cloudDirName);


        if (cloudDirId != currentCloudDirId) {
            if (cloudDirId == 0) {
                navBarItems.splice(0, navBarItems.length);
            }
            navBarItems.push(cloudDirId + "_" + cloudDirName);

            var navBarItemsHtmls = "";
            for (var i = 0; i < navBarItems.length; i++) {
                var navBarItem = navBarItems[i];
                var dirId = navBarItem.split("_")[0];
                var dirName = navBarItem.split("_")[1];
                console.log("拼接导航条 dirId=" + dirId + "  dirName=" + dirName);
                navBarItemsHtmls += "<li class='active'><a id='" + dirId + "' onclick='getDirChilds(" + dirId + ",\"" + dirName + "\")'>" + dirName + "</a></li>";
                if (dirId == cloudDirId) {
                    break;
                }
            }
            $("#dirNavBar").html(navBarItemsHtmls);
            $("#dirNavBar .active a").removeAttr('disabled');
            $("#dirNavBar #" + cloudDirId).attr('disabled', "true");
        }

        $.ajax({
            "type": "post",
            "url": "/clouddir/findchild",
            "data": {
                "cloudDirId": cloudDirId
            },
            "contentType": "application/x-www-form-urlencoded;chartset=utf-8",
            "success": function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    var cloudDirFiles = result.data;
                    var cloudDirs = cloudDirFiles.cloudDirs;
                    var cloudFiles = cloudDirFiles.cloudFiles;

                    var $table = $("table tbody");
                    var innerHtml = "";
                    if (cloudDirs.length === 0 && cloudFiles.length === 0) {
                        innerHtml = "<tr style='text-align: center'><td colspan='4'>空空如也</td></tr>";
                    } else {
                        var innerHtml1 = "";
                        var innerHtml2 = "";
                        for (var i = 0; i < cloudDirs.length; i++) {
                            var cloudDir = cloudDirs[i];
                            innerHtml1 += "<tr><td><span class='glyphicon glyphicon-folder-open'></span> "
                                + "<a onclick='getDirChilds(" + cloudDir.cloudDirId + ",\"" + cloudDir.cloudDirName + "\")'>"
                                + cloudDir.cloudDirName + "</a></td><td>"
                                + cloudDir.cloudDirSize + "</td><td>"
                                + dateFormater(new Date(cloudDir.cloudDirUpdateDate)) + "</td><td>"
                                + "<button type='button' class='btn btn-default' aria-label='Edit' onclick='editDirName(" + cloudDir.cloudDirId + ")'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button>"
                                + "<button type='button' class='btn btn-default' aria-label='Remove' onclick='removeDir(" + cloudDir.cloudDirId + ")'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>"
                                + "</td></tr>"
                        }

                        for (var j = 0; j < cloudFiles.length; j++) {
                            var cloudFile = cloudFiles[j];
                            var cloudFileUrl = cloudFile.cloudFileUrl.replace("E:\\HEARTCLOUD\\", "");
                            innerHtml2 += "<tr><td><span class='glyphicon glyphicon-file'></span> "
                                + "<a href='/local/" + cloudFileUrl + "' target='_blank'>"
                                + cloudFile.cloudFileName + "</a></td><td>"
                                + cloudFile.cloudFileSize + "</td><td>"
                                + dateFormater(new Date(cloudFile.cloudFileUpdateDate)) + "</td><td>"
                                + "<button type='button' class='btn btn-default' aria-label='Edit' onclick='editFileName(" + cloudFile.cloudFileId + ")'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button>"
                                + "<button type='button' class='btn btn-default' aria-label='Remove' onclick='removeFile(" + cloudFile.cloudFileId + ")'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>"
                                + "<button type='button' class='btn btn-default' aria-label='Download' onclick='downloadFile(" + cloudFile.cloudFileId + ")'><span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span></button>"
                                + "</td></tr>"
                        }
                        innerHtml = innerHtml1 + innerHtml2;
                    }

                    $table.html(innerHtml);
                    $("#currentItemCount").text(cloudDirs.length + cloudFiles.length);
                }
            },
            "error": function (result) {
                console.log(result);
            }
        });
    }

    //新建文件夹
    function createNewDir() {
        var parentDirId = $("#currentDirId").text();
        var dirName = $("#newDirInput").val();
        if (dirName == null || dirName == '' || dirName === undefined) {
            $("#tipsContent").text("文件夹名不能为空");
            $("#tipsModal").modal();
            return;
        }
        $("#createNewDirModal").modal('toggle');
        $("#newDirInput").val('');
        $.ajax({
            "type": "post",
            "url": "/clouddir/save",
            "data": "{\"cloudDirName\":\"" + dirName + "\",\"cloudDirParentId\":\"" + parentDirId + "\"}",
            "contentType": "application/json;chartset=utf-8",
            "success": function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    $("#tipsContent").text("新建文件夹成功");
                } else {
                    $("#tipsContent").text("新建文件夹失败");
                }
                $("#tipsModal").modal();
                setTimeout(function () {
                    $("#tipsModal").modal('toggle');
                }, 3000);
                getDirChilds(parentDirId, dirName);
            },
            "error": function (result) {
                console.log("新建文件夹 :" + result);
                $("#tipsContent").text("新建文件夹失败");
                setTimeout(function () {
                    $("#tipsModal").modal('toggle');
                }, 3000);
                getDirChilds(parentDirId, dirName);
            }
        });
    }

    //修改文件夹
    function editDirName(cloudDirId) {
        $("#editDirModal").modal();
        $("#editDirId").val(cloudDirId);
    }

    function editDirNameSubmit() {
        var currentCloudDirId = $("#currentDirId").text();
        var currentCloudDirName = $("#currentDirName").text();

        var cloudDirId = $("#editDirId").val();
        var cloudDirName = $("#editDirInput").val();
        if (cloudDirName == null || cloudDirName === '') {
            $("#tipsContent").text("文件夹名不能为空");
            $("#tipsModal").modal();
            return;
        }
        console.log("修改文件夹 cloudDirId=" + cloudDirId + "  cloudDirName=" + cloudDirName);

        $("#editDirModal").modal('toggle');
        $("#editDirInput").val('');
        $.ajax({
            type: "POST",
            url: "/clouddir/edit",
            data: "{\"cloudDirId\":\"" + cloudDirId + "\",\"cloudDirName\":\"" + cloudDirName + "\"}",
            contentType: "application/json;chartset=utf-8",
            success: function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    $("#tipsContent").text("重命名文件夹成功");
                } else {
                    $("#tipsContent").text("重命名文件夹失败");
                }
                $("#tipsModal").modal();
                setTimeout(function () {
                    $("#tipsModal").modal('toggle');
                }, 3000);
                getDirChilds(currentCloudDirId, currentCloudDirName);
            }
        });
    }

    //修改文件
    function editFileName(cloudFileId) {
        $("#editFileModal").modal();
        $("#editFileId").val(cloudFileId);
    }

    function editFileNameSubmit() {
        var currentCloudDirId = $("#currentDirId").text();
        var currentCloudDirName = $("#currentDirName").text();

        var cloudFileId = $("#editFileId").val();
        var cloudFileName = $("#editFileInput").val();
        if (cloudFileName == null || cloudFileName === '') {
            $("#tipsContent").text("文件名不能为空");
            $("#tipsModal").modal();
            return;
        }
        console.log("修改文件夹 cloudFileId=" + cloudFileId + "  cloudFileName=" + cloudFileName);

        $("#editFileModal").modal('toggle');
        $("#editFileInput").val('');
        $.ajax({
            type: "POST",
            url: "/cloudfile/edit",
            data: "{\"cloudFileId\":\"" + cloudFileId + "\",\"cloudFileName\":\"" + cloudFileName + "\"}",
            contentType: "application/json;chartset=utf-8",
            success: function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    $("#tipsContent").text("重命名文件成功");
                } else {
                    $("#tipsContent").text("重命名文件失败");
                }
                $("#tipsModal").modal();
                setTimeout(function () {
                    $("#tipsModal").modal('toggle');
                }, 3000);
                getDirChilds(currentCloudDirId, currentCloudDirName);
            }
        });
    }

    //删除文件夹
    function removeDir(cloudDirId) {
        $("#confirmRemoveDirModal").modal();
        $("#removeDirId").val(cloudDirId);
    }

    function removeDirSubmit() {
        var currentCloudDirId = $("#currentDirId").text();
        var currentCloudDirName = $("#currentDirName").text();

        var cloudDirId = $("#removeDirId").val();
        $("#confirmRemoveDirModal").modal('toggle');
        $.ajax({
            type: "POST",
            url: "/clouddir/remove",
            data: {
                "cloudDirId": cloudDirId
            },
            contentType: "application/x-www-form-urlencoded;chartset=utf-8",
            success: function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    $("#tipsContent").text("删除文件夹成功");
                } else {
                    $("#tipsContent").text("删除文件夹失败");
                }
                $("#tipsModal").modal();
                setTimeout(function () {
                    $("#tipsModal").modal('toggle');
                }, 3000);
                getDirChilds(currentCloudDirId, currentCloudDirName);
            }
        });
    }

    //删除文件
    function removeFile(cloudFileId) {
        $("#confirmRemoveFileModal").modal();
        $("#removeFileId").val(cloudFileId);
    }

    function removeFileSubmit() {
        var currentCloudDirId = $("#currentDirId").text();
        var currentCloudDirName = $("#currentDirName").text();

        var cloudFileId = $("#removeFileId").val();
        $("#confirmRemoveFileModal").modal('toggle');
        $.ajax({
            type: "POST",
            url: "/cloudfile/remove",
            data: {
                "cloudFileId": cloudFileId
            },
            contentType: "application/x-www-form-urlencoded;chartset=utf-8",
            success: function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    $("#tipsContent").text("删除文件成功");
                } else {
                    $("#tipsContent").text("删除文件失败");
                }
                $("#tipsModal").modal();
                setTimeout(function () {
                    $("#tipsModal").modal('toggle');
                }, 3000);
                getDirChilds(currentCloudDirId, currentCloudDirName);
            }
        });
    }

    //上传文件
    function uploadNewFile() {
        var cloudDirId = $("#currentDirId").text();
        var cloudDirName = $("#currentDirName").text();
        $("#uploadTargetDirId").val(cloudDirId);

        if (window.FormData) {
            var uploadXhr;
            var formData = new FormData($("#fileUploadForm")[0]);
            $.ajax({
                url: "/cloudfile/upload",
                type: "POST",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                xhr: function () {
                    uploadXhr = $.ajaxSettings.xhr();
                    if (progressHandler && uploadXhr.upload) {
                        $("#fileUploadContent").css({
                            "display": "none"
                        });
                        $("#fileUploadProgress").css({
                            "display": "block"
                        });
                        uploadXhr.upload.addEventListener('progress', progressHandler, false);
                        return uploadXhr;
                    }
                },
                success: function (result) {
                    console.log(result);
                    $("#fileUploadContent").css({
                        "display": "block"
                    });
                    $("#fileUploadProgress").css({
                        "display": "none"
                    });
                    $("#uploadNewFileModal").modal('toggle');
                    if (result.errCode === 7000) {
                        $("#tipsContent").text("文件上传成功");
                    } else {
                        $("#tipsContent").text("文件上传失败");
                    }
                    $("#tipsModal").modal();
                    setTimeout(function () {
                        $("#tipsModal").modal('toggle');
                    }, 3000);
                    getDirChilds(cloudDirId, cloudDirName);
                }
            });
        } else {

        }

    }

    function showUploadInput() {
        $("#fileUploadContent").attr("hidden", false);
        $("#fileUploadProgress").attr("hidden", true);
    }

    function progressHandler(event) {
        event = event || window.event;
        if (event.lengthComputable) {
            var value = Math.floor(event.loaded / event.total * 100);
            $("#fileUploadProgress").css("width", value + "%");
            $("#fileUploadProgress span").text(value + "%");
        }

    }

    //下载文件
    //这个方法是不行的，文件下载如果使用ajax，后端返回的数据可以在javascript中查看，但无法下载到本地
    function downloadFilexxx(cloudFileId) {
        var currentCloudDirId = $("#currentDirId").text();
        var currentCloudDirName = $("#currentDirName").text();

        $.ajax({
            type: "POST",
            url: "/cloudfile/download",
            accept: "*/*",
            data: {
                "cloudFileId": cloudFileId
            },
            contentType: "application/x-www-form-urlencoded;chartset=utf-8",
            success: function (result) {
                console.log(result);
                if (result.errCode === 7000) {
                    $("#tipsContent").text("文件下载成功");
                } else {
                    $("#tipsContent").text("文件下载失败");
                }
                $("#tipsModal").modal();
                setTimeout(function () {
                    $("#tipsModal").modal('toggle');
                }, 3000);
                getDirChilds(currentCloudDirId, currentCloudDirName);
            }
        });
    }

    //下载文件
    function downloadFile(cloudFileId) {
        $("#downloadFileId").val(cloudFileId);
        $("#fileDownloadForm").submit();
        $("#downloadFileId").val('');
    }

    //日期格式化
    function dateFormater(date) {
        var year = date.getFullYear();       //年
        var month = date.getMonth() + 1;     //月
        var day = date.getDate();            //日
        var hh = date.getHours();            //时
        var mm = date.getMinutes();          //分
        var ss = date.getSeconds();           //秒
        var clock = year + "-";
        if (month < 10) {
            clock += "0";
        }
        clock += month + "-";
        if (day < 10) {
            clock += "0";
        }
        clock += day + " ";
        if (hh < 10) {
            clock += "0";
        }
        clock += hh + ":";
        if (mm < 10) {
            clock += '0';
        }
        clock += mm + ":";
        if (ss < 10) {
            clock += '0';
        }
        clock += ss;
        return (clock);
    }

    //文件夹大小格式化
    function fileSizeFormater(size) {
        var number = size / 1024;
        while (number >= 1024) {
            number = number / 1024;
        }
        return number.toFixed(2);
    }
</script>
</html>